

.alinhamento {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #000;
}




.creditos {
	width: 310px;
	display:inline-block;
	text-align: center;
	font-size: 16px;
	font-family:  OpenDyslexic;
	text-align: center;
	border: 1px solid #000;
	background:linear-gradient(to bottom, #0063d0 10%, #003e83 100%);
	color: #FFF;
}

.creditos a{
	width: 310px;
	display:inline-block;
	text-align: center;
	font-size: 16px;
	font-family: OpenDyslexic;
	text-align: center;
	color: #FFF;
}


