
<h1 id="subheader">Selecione o modo em que pretende jogar</h1>
<div id="form">
		<a href="pages/n1" id="game_button" title="Inicia o jogo no modo normal">Modo Normal</a><br>
		<a href="pages/contratempo" id="game_button" title="Inicia o modo contra o relógio">Contra o Tempo</a>
</div>
	<a href="/"><input type="submit" value="Voltar"></input></a>

