
#table{
	height: 10px;
	font-family: OpenDyslexic;
	font-weight: bold;
	font-size: 16px;
	border: 2px solid black;
}

#table thead{
	height: 10px;
	font-family: OpenDyslexic;
	font-weight: bold;
	font-size: 16px;
	background-color: #C62050;
	border: 1px solid black;
	color: #FFF;
}

#table tbody{
	height: 10px;
	font-family: OpenDyslexic;
	font-weight: bold;
	font-size: 16px;
	background-color: #EEE;
	border: 1px solid black;
	color: #000;
}

#hRanking{
	font-family: Neigfriste;
	font-size: 30px;
	padding: 1em;
	color: #FFF;
}
#hRanking h3{
	font-family: Neigfriste;
	font-size: 40px;
	padding: 1em;
	color: #fff5dd;
	text-shadow: 2px 1px 4px #C62050;
}

/* Padrões */
